# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pdb
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/
.env/

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
